{% extends "base.html" %}

{% block page_content %}
    <div class="mw6 center pa3 sans-serif">
        <h1 class="mb4">Arizona Diamondbacks Players</h1>
        <header class="b mb2">2024-25 Season</header>

        <form method="get" class="mb3">
            <div class="mb3">
                <label for="sort-order" class="b mb2">Sort by Name:</label>
                <select name="sort_order" id="sort-order" class="ml0 w-100">
                    <option value="asc" {% if current_sort_order == 'asc' %}selected{% endif %}>Ascending</option>
                    <option value="desc" {% if current_sort_order == 'desc' %}selected{% endif %}>Descending</option>
                </select>
            </div>

            <div class="mb3">
                <label for="position" class="b mb2">Filter by Position:</label>
                <select name="position" id="position" class="ml0 w-100">
                    <option value="" {% if not current_position %}selected{% endif %}>All Positions</option>
                    {% for position in all_positions %}
                        <option value="{{ position }}" {% if current_position == position %}selected{% endif %}>{{ position }}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <button type="submit" class="pa2 br2 bg-blue white">Apply</button>
            </div>
        </form>


        {% for p in players %}
            <div class="pa2 mb3 striped--near-white">
                <div class="pl2">
                    <p class="mb2">Name: {{ p.player_name }}</p>
                    <p class="mb2">Number: {{ p.player_number }}</p>
                    <p class="mb2">Position: {{ p.player_position }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
